{{#layout}}
    <div>
        <h2>Flash Card List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Flash Card Question</th>
                <th>Answer</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr>
                {{#allflashcards}}
                <td>{{id}}</a></td>
                <td>{{question}}</td>
                <td>{{answer}}</td>
                <td><a href="/flashcards/{{id}}">View</a></td>
                <td><a href="/flashcards/editflashcard/{{id}}">Edit</a></td>
                <td><a href="/flashcards/deleteflashcard/{{id}}">Delete</a> </td>
            </tr>
            {{/allflashcards}}
        </table>
    </div>
<div class="row">
    <button type="button" onclick="history.back()" class="btn btn-default">Back</button>
    <button type="button" onclick="window.location.href='/flashcards/addflashcard'" class="btn-default">New Flash Card</button>
</div>
{{/layout}}
{{>layout}}