<!doctype html>

<html lang="en">
<head lang="en">

    <title>Simple Flash Cards</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>

    <link href="../static/css/style.css" rel="stylesheet" media="screen"/>
</head>

<body>

    	<div class="container"><h1>Simple Flash Cards</h1></div>

<div class="container">

    		